src/main/mule/implementations/update-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<os:object-store name="Object_store" doc:name="Object store" doc:id="8f40cbd6-68dd-4d8b-ab15-a26fb2269126" maxEntries="100" entryTtl="1" entryTtlUnit="HOURS" />
	<flow name="put:\cases:application\json:uhub-sapi-config">
		<set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="Set correlationId" doc:id="f228fbfa-3cce-4fd4-a6ac-9d71855251a8" variableName="correlationId" />
		<logger level="INFO" doc:name="Start Log" doc:id="ac9cce4e-e64a-4e6b-bee7-c4ffa2d5d9cd" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationID], message: "Started update covid case flow", payload: #[payload]' />
		<ee:transform doc:name="Prepare Covid Case Payload" doc:id="f6391d15-583f-426f-935d-fbb5643b672b" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="covidCasePayload" ><![CDATA[%dw 2.0
output application/java
---
{
	case_id: payload.caseID,
	source: payload.source,
	case_type: payload.caseType,
	first_name: payload.firstName,
	last_name: payload.lastName,
	phone: payload.phone,
	email: payload.email,
	date_of_birth: payload.dateOfBirth as String {
		format: "yyyy-MM-dd"
	},
	national_id: payload.nationalID,
	national_id_type: payload.nationalIDType,
	street_address: payload.address.streetAddress,
	city: payload.address.city,
	state: upper(payload.address.state),
	postal: payload.address.postal,
	country: payload.address.country,
	update_date: now() as String {
		format: "yyyy-MM-dd"
	},
	create_by: "UHIS",
	update_by: "UHIS"
}
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<idempotent-message-validator doc:name="Idempotent Message Validator" doc:id="6ebb12f8-70fe-415b-b8c8-031469f7c876" idExpression='#[vars.covidCasePayload pluck $ joinBy  ""]' objectStore="Object_store"/>
		<flow-ref doc:name="update-covid-case-sub-flow" doc:id="fb61e178-ca0f-449c-942e-ea8b2348768c" name="update-covid-case-sub-flow" />
		<ee:transform doc:name="Set Success Response" doc:id="7d89f13c-7a1b-4153-992a-1519fb56eb34" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if (payload.affectedRows > 0 ) {
	caseID: vars.covidCasePayload.case_id
} else {}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="1a3addf2-7a63-4910-906a-ea728ac1b1cb" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationID], message: "Completed update covid case flow", payload: #[payload]' />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="05479c8f-6dc1-4a8d-b23b-58aaef0d38c3" type="MULE:DUPLICATE_MESSAGE">
				<set-variable value="#[400]" doc:name="Set HTTP Status - 400" doc:id="fb359385-42bc-43c8-9ad5-91ffd9d7b52d" variableName="httpStatus" />
				<set-variable value="Bad request" doc:name="set Error Message" doc:id="0d55b1cc-4719-46b3-9798-315c9cba90fd" variableName="errorMessage" />
				<set-variable value='#["Duplicate request received"]' doc:name="Set Error Description" doc:id="c4216b81-0977-448c-8eb7-407bb41c546f" variableName="errorDescription"/>
				<flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="45fb43bf-13db-4206-8e4c-9e0cef36b8c2" name="global-prepare-error-response-sub-flow" />
			</on-error-continue>
		</error-handler>
    
</flow>
	</mule>
